/* GLOBAL: */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(72, 85, 210, 1) 0%, rgba(89, 39, 89, 1) 100%);
    display: flex;
    justify-content: center;
    padding: 3em;
}

/* BODY CALC: */

#calc {
    display: grid;
    justify-content: center;
    height: 600px;
    width: 440px;
    padding: 10px;
    border-radius: 30px;
    border: solid 2px black;
    background-color: #c4c1be;
    box-shadow: #55616d 30px 4px 0 0;
}

/* VISOR: */

#operations {
    border-radius: 30px;
    background-color: #708090;
    border: solid 2px;
    border-color: #000000;
    margin: 30px 30px;
    width: 370px;
    height: 130px;
}

#previous-operation {
    padding-right: 40px;
    height: 45px;
    text-align: right;
    font-size: 20px;
}

#current-operation {
    height: 65px;
    text-align: right;
    font-size: 35px;
    padding-right: 10px;
}

/* BUTTONS: */

#buttons-container {
    display: grid;
    grid-area: auto;
    grid-template-columns: repeat(5, 70px);
    grid-template-rows: 80px auto;
    padding: 20px 30px 40px 32px;
}

.op-key,
.num-key {
    background-color: #708090;
    border: 2px solid #000000;
    border-radius: 20px;
    box-shadow: #55616d 4px 4px 0 0;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 20px;
    line-height: 50px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 6px;
    width: 50px;
    height: 50px;
}

.op-key:hover {
    background-color: #3b3b3b;
}

.num-key:hover {
    background-color: #3b3b3b;
}

.op-key:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.num-key:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .op-key {
        min-width: 60px;
        padding: 0 15px;
    }
}

@media (min-width: 768px) {
    .num-key {
        min-width: 60px;
        padding: 0 15px;
    }
}